article{
    width: 100%;
}

header.articleHeader {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
}

section{
    background-color: gray;
    padding: 5px 10px 5px 10px;
    text-align: justify;
}

button{
    background-color: lightsteelblue;
    cursor:pointer;
    color: blue
}